@charset "UTF-8";



nav#menu ul {
	list-style:none;
	text-transform:uppercase;
	position:absolute;
	top:-20px;
	left:680px;

}
nav#menu li {
	padding:8px;	
}

div#tv-radio{
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 575px;
	top: 490px;
	width: 300px;
}

video#filme {
	display: block;
	position: relative;
	left: 90px;
	top: 85px;
	width:440px;
}